@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center text-white">注文依頼済!</h1>
        注文番号は : @Model <br /><br />

    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        ご注文は正常に完了しました! <br />
    </div>
</div>