<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">注文一覧</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="d-flex justify-content-between pb-5 pt-2">
			<span></span>
			<ul class="list-group list-group-horizontal-sm">
				<a style="text-decoration:none; asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
					<li class="list-group-item">In Process</li>
				</a>
				<a style="text-decoration:none; asp-controller="Order" asp-action="Index" asp-route-status="pending">
				<li class="list-group-item">Payment Pending</li>
				</a>
				<a style="text-decoration:none; asp-controller="Order" asp-action="Index" asp-route-status="completed">
				<li class="list-group-item">Completed</li>
				</a>
				<a style="text-decoration:none; asp-controller="Order" asp-action="Index" asp-route-status="approved">
				<li class="list-group-item">Approved</li>
				</a>
				<a style="text-decoration:none; asp-controller="Order" asp-action="Index" asp-route-status="all">
				<li class="list-group-item">All</li>
				</a>
			</ul>
		</div>

		<table id="tblData" class=" table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>名前</th>
					<th>電話番号</th>
					<th>メールアドレス</th>
					<th>ステータス</th>
					<th>会計</th>
					<th></th>
				</tr>
			</thead>
		</table>

	</div>
</div>

@section Scripts{
	<!--TODO: 何故かjsファイル読み込めないか原因調査中-->
	<script scr="~/js/product.js"></script>
	<!--TODO: 仮対応-->
	<script>
		var dataTable;

		$(document).ready(function () {
			loadDataTable();
		});
		function loadDataTable() {
			dataTable = $('#tblData').DataTable({
				"ajax": { url: '/admin/order/getall' },
				"columns": [
					{ data: 'id', "width": "5%" },
					{ data: 'name', "width": "10%" },
					{ data: 'phoneNumber', "width": "20%" },
					{ data: 'applicationUser.email', "width": "6%" },
					{ data: 'orderStatus', "width": "40%" },
					{ data: 'orderTotal', "width": "40%" },
					{
						data: 'id',
						"render": function (data) {
							return `<div class="w-75 btn-group" role="group">
									<a href="/admin/order/details?orderId=${data}" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
									</div>`
						},
						"width": "15%"
					}
				]
			});
		}

	</script>
}