.divider-text:before,
.divider-text:after{
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }

    html, body {
        height: 90%;
    }

    .wrapper {
        min-height: 90%;
        height: auto !important;
        height: 90%;
        margin: 0em auto;
        // the value of the inverse of the height of the footer
    }

    .footer, .push {
        height: 4em;
        // height of footer
    }

    form {
        height: 100%;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}