@model Company

<div class="card shadow border-0 my-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">企業@(Model.Id != 0 ? "更新" : "の新規作成")</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row" enctype="multipart/form-data">
			<input asp-for="Id" hidden />
			<div class="row">
				<div class="col-10">
					<div class="border p-3 mt-4">
						<!--<div asp-validation-summary="All"></div>-->
						<div class="form-floating py-3 col-12">
							<label asp-for="Name" class="ms-2">名前</label>
							<input asp-for="Name" class="form-control border-0 shadow" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-floating py-3 col-12">
							<label asp-for="PhoneNumber" class="ms-2">電話番号</label>
							<input asp-for="PhoneNumber" class="form-control border-0 shadow" />
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
						<div class="form-floating py-3 col-12">
							<label asp-for="PostalCode" class="ms-2">郵便番号（半角数字）</label>
							<input asp-for="PostalCode" class="form-control border-0 shadow" />
							<span asp-validation-for="PostalCode" class="text-danger"></span>
						</div>
						<div class="form-floating py-3 col-12">
							<label asp-for="State" class="ms-2">都道府県</label>
							<input asp-for="State" class="form-control border-0 shadow" />
							<span asp-validation-for="State" class="text-danger"></span>
						</div>
						<div class="form-floating py-3 col-12">
							<label asp-for="City" class="ms-2">市区町村</label>
							<input asp-for="City" class="form-control border-0 shadow" />
							<span asp-validation-for="City" class="text-danger"></span>
						</div>
						<div class="form-floating py-3 col-12">
							<label asp-for="StreetAddress" class="ms-2">丁目・番地・号（数字は半角数字）</label>
							<input asp-for="StreetAddress" class="form-control border-0 shadow" />
							<span asp-validation-for="StreetAddress" class="text-danger"></span>
						</div>

						<div class="row pt-3">
							<div class="col-6 col-md-3">
								@if (Model.Id != 0)
								{
									<button type="submit" class="btn btn-primary form-control">更新</button>
								}
								else
								{
									<button type="submit" class="btn btn-primary form-control">作成</button>
								}
							</div>
							<div class="col-6 col-md-3">
								<a asp-controller="Company" asp-action="Index" class="btn btn-outline-primary border form-control">企業一覧に戻る</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			
		</form>
	</div>
</div>



@section Scripts{
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			mergetags_list: [
				{ value: 'First.Name', title: 'First Name' },
				{ value: 'Email', title: 'Email' },
			]
		});
	</script>
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}